@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/ofont.ru_Gotham Pro.ttf") format("truetype");
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

span {
  display: inline-block;
}

input, textarea {
  background: transparent;
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1548px;
  padding: 0px 54px;
  margin: 0 auto;
}

.main_text_golden {
  color: #F6C79C;
  font-size: 90px;
  font-weight: 200;
  line-height: 95%;
  text-transform: uppercase;
}

.main_title {
  color: #424242;
  text-align: center;
  font-size: 80px;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
}

.main_subtitle {
  color: #424242;
  text-align: center;
  font-size: 19px;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
}

.main_input {
  border-bottom: 1px solid rgba(42, 42, 42, 0.2);
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 200;
  line-height: normal;
  color: #424242;
  width: 100%;
}
.main_input::-moz-placeholder {
  color: rgba(42, 42, 42, 0.5);
}
.main_input::placeholder {
  color: rgba(42, 42, 42, 0.5);
}

.main_input_tel {
  position: relative;
}
.main_input_tel .selected_flag {
  position: absolute;
  top: 50%;
  left: 53px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}
.main_input_tel .main_input {
  padding-left: 89px;
}

.main_select__subtitle__subtitle {
  color: #161616;
  font-size: 14px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 53px;
  display: block;
}
.main_select__subtitle__btn {
  width: 100%;
}

.apartments_cards .card_item {
  padding: 50px;
  border: 1px solid #fff;
  background: rgba(42, 42, 42, 0.03);
}
.apartments_cards .card_item_head {
  position: relative;
  margin-bottom: 25px;
}
.apartments_cards .card_item_head .star {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 15px;
}
.apartments_cards .card_item_head .star:hover svg path {
  fill: #F6C79C;
}
.apartments_cards .card_item_head .star.active svg path {
  fill: #D2A276 !important;
}
.apartments_cards .card_item_head .swiper-slide {
  position: relative;
}
.apartments_cards .card_item_head .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 75px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000 223.33%, #000 223.33%);
}
.apartments_cards .card_item_head .swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 75px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 223.33%, #000 223.33%);
}
.apartments_cards .card_item_head .swiper-slide img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -5px;
}
.apartments_cards .card_item_head .apartments_cards__in_pagination {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: 10px;
}
.apartments_cards .card_item_head .apartments_cards__in_pagination span {
  margin: 0;
  padding: 0;
  opacity: 1;
  border-radius: 0;
  width: 60px;
  height: 2px;
  background: white;
}
.apartments_cards .card_item_head .apartments_cards__in_pagination span.swiper-pagination-bullet-active {
  background: #F6C79C;
}
.apartments_cards .card_item_type {
  color: #161616;
  font-size: 19px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 25px;
}
.apartments_cards .card_item_name {
  color: #161616;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.apartments_cards .card_item ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.apartments_cards .card_item ul li {
  color: #161616;
  font-size: 19px;
  font-weight: 300;
  line-height: normal;
}
.apartments_cards .card_item__link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.apartments_cards .card_item__link span {
  color: #424242;
  font-size: 19px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
@keyframes svgAnimation {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(45px);
  }
  60% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.apartments_cards .card_item__link svg {
  animation: svgAnimation 2.5s ease infinite;
}
.apartments_cards .card_item__link:hover span {
  color: #F6C79C;
}
.apartments_cards .card_item__link:hover svg path {
  stroke: #F6C79C;
}
.apartments_cards .card_item__link:active span {
  color: #D2A276;
}
.apartments_cards .card_item__link:active svg path {
  stroke: #D2A276;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
}
header .main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navs {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .navs__link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.2s ease all;
}
header .navs__link:hover {
  color: #F6C79C;
}
header .lang_and_bars {
  display: flex;
  align-items: center;
  gap: 35px;
}
header .lang {
  position: relative;
  z-index: 6;
}
header .lang_selected {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
header .lang_list {
  position: absolute;
  padding: 25px 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.01);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}
header .lang_list li {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  transition: 0.2s ease all;
  cursor: pointer;
}
header .lang_list li.active {
  color: #F6C79C;
  opacity: 1;
}
header .lang_list li.active:hover {
  opacity: 0.5;
}
header .lang_list li:not(.active):hover {
  opacity: 1;
}
@keyframes langActive {
  0% {
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
  60% {
    opacity: 1;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
  }
  100% {
    height: 119px;
  }
}
@keyframes langNoActive {
  0% {
    display: flex;
    height: 119px;
  }
  30% {
    display: flex;
    opacity: 1;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
  }
  100% {
    display: flex;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
}
header .lang_list.active {
  display: flex;
  animation: langActive 0.8s linear 1;
}
header .lang_list.no_active {
  display: none;
  animation: langNoActive 0.8s linear 1;
}
header .bars {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  z-index: 6;
}
header .bars span {
  height: 2px;
  width: 30px;
  background-color: #D9D9D9;
  transition: 0.2s ease all;
}
@keyframes barsAnimation1 {
  0% {
    transform: translateY(0) rotateZ(0deg);
  }
  30% {
    transform: translateY(3px) rotateZ(0deg);
  }
  60% {
    transform: translateY(3px) rotateZ(0deg);
  }
  100% {
    transform: translateY(3px) rotateZ(45deg);
  }
}
@keyframes barsAnimation2 {
  0% {
    transform: translateY(0) rotateZ(0deg);
  }
  30% {
    transform: translateY(-3px) rotateZ(0deg);
  }
  60% {
    transform: translateY(-3px) rotateZ(0deg);
  }
  100% {
    transform: translateY(-3px) rotateZ(-45deg);
  }
}
header .bars.active span:nth-child(1) {
  transform: translateY(3px) rotateZ(45deg);
  animation: barsAnimation1 0.8s linear 1;
}
header .bars.active span:nth-child(2) {
  transform: translateY(-3px) rotateZ(-45deg);
  animation: barsAnimation2 0.8s linear 1;
}
@keyframes barsNoAnimation1 {
  0% {
    transform: translateY(3px) rotateZ(45deg);
  }
  30% {
    transform: translateY(3px) rotateZ(0deg);
  }
  60% {
    transform: translateY(3px) rotateZ(0deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
@keyframes barsNoAnimation2 {
  0% {
    transform: translateY(-3px) rotateZ(-45deg);
  }
  30% {
    transform: translateY(-3px) rotateZ(0deg);
  }
  60% {
    transform: translateY(-3px) rotateZ(0deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
header .bars.no_active span:nth-child(1) {
  transform: translateY(0) rotateZ(0deg);
  animation: barsNoAnimation1 0.8s linear 1;
}
header .bars.no_active span:nth-child(2) {
  transform: translateY(0) rotateZ(0deg);
  animation: barsNoAnimation2 0.8s linear 1;
}
header .header_menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: flex-start;
  justify-content: center;
  z-index: 5;
}
header .header_menu_content {
  width: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 150px;
  gap: 130px;
}
header .header_menu_content .title {
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}
header .header_menu_content ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}
header .header_menu_link {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}
@keyframes headerMenuActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes headerMenuNoActive {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: flex;
    opacity: 0;
  }
}
header .header_menu.active {
  display: flex;
  animation: headerMenuActive 0.4s linear 1;
}
header .header_menu.no_active {
  display: none;
  animation: headerMenuNoActive 0.4s linear 1;
}

@keyframes linkAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(0);
  }
}
.home {
  background-image: url("../images/home_bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home .main_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 378px;
  padding-bottom: 100px;
}
.home p {
  color: #FFF;
  font-size: 19px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.home h1 {
  color: #fff;
  text-align: center;
  font-size: 90px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 174px;
}
.home a {
  animation: linkAnimation 3s ease infinite;
}

.home_card {
  background: url("../images/home_card_fon.webp") center/cover no-repeat;
  padding: 200px 0;
}
.home_card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}
.home_card__top h2 {
  max-width: 406px;
  margin-bottom: 50px;
}
.home_card__top p {
  max-width: 586px;
}
.home_card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home_card__bottom h2 {
  max-width: 405px;
  margin-bottom: 50px;
}
.home_card__bottom p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  line-height: normal;
  text-transform: lowercase;
  max-width: 632px;
}
.home_card p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  line-height: normal;
  text-transform: lowercase;
}
.home_card .animation_img {
  position: relative;
}
.home_card .animation_img_bg {
  position: absolute;
  width: 527px;
  height: 100%;
  border-radius: 50%;
  opacity: 0.5;
  background: #F6C79C;
  filter: blur(100px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes borderAnimation {
  0% {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    opacity: 0.15;
  }
  33% {
    width: calc(100% + 38px);
    height: calc(100% + 38px);
    top: -19px;
    left: -19px;
    opacity: 0.15;
  }
  66% {
    width: calc(100% + 82px);
    height: calc(100% + 82px);
    top: -41px;
    left: -41px;
    opacity: 0.1;
  }
  100% {
    width: calc(100% + 128px);
    height: calc(100% + 128px);
    top: -64px;
    left: -64px;
    opacity: 0.005;
  }
}
.home_card .animation_img span {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  border: 1px solid #F6C79C;
  opacity: 0.15;
  animation: borderAnimation 1.8s linear infinite;
}
.home_card .animation_img span:nth-child(2) {
  animation-delay: 0.6s;
}
.home_card .animation_img span:nth-child(3) {
  animation-delay: 1.2s;
}
.home_card .animation_img img {
  width: 708px;
  position: relative;
}

.apartments {
  padding: 200px 0 358px;
  background: url("../images/shum_1.png") center/cover no-repeat;
}
.apartments_cards {
  overflow: visible;
  margin-top: 100px;
}

.consultation {
  background: url("../images/shum_2.png") center/cover no-repeat;
  padding: 200px 0;
}
.consultation__form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
}
.consultation__form_img {
  width: 586px;
}
.consultation__form_content {
  width: 708px;
  padding-top: 12px;
}
.consultation__form_content .inputs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */